@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.create-book {
    padding: 15px 0px 15px 0px;
}

div.user-notes-container, .review-notes-container {
    width: 100%;
}

div.review-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.review-item {
    padding: 20px;
    background: #d1c2e2;
    border-radius: 8px;
    width: 100%;
}

div.top-paragraph {
    flex-direction: row;
    align-items: flex-start;
}

div.left-paragraph {
   width: 45%;
}

.review-body {
    gap: 15px;
}

div .card-body {
    background: #d1c2e2;
}

div .container {
    max-width: 80%;
    height: 100%;
}

td.weird-width {
    width: 0px;
}

.table.profile-table {
    --bs-table-striped-bg: #f2c4c0 !important;
}

.table-striped.profile-table > tbody > tr:nth-of-type(odd),
.table-striped.profile-table > tbody > tr:nth-of-type(even),
.table-striped.profile-table > thead > tr {
    border-color: #9d86b7;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.table-striped.profile-table > thead > tr {
    border-top-width: 0px;
}

textarea#user-notes.user-notes {
    width: 87%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #385354;
    font-size: 16px;
    resize: none;
}

textarea#review-notes.review-notes {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #385354;
    font-size: 16px;
    resize: none;
}

label.fav-labels {
    display: block;
    font-size: large;
    font-weight: 500;
    margin-bottom: 10px;
}

button.fav-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-title {
    margin-top: 20px;
}

.view-book-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 10px;
    align-items: baseline;
}

.dates-container {
    display: flex;
    justify-content: end;
    margin: auto;
    gap: 10px;
    align-items: baseline;
}

.button-container {
    display: flex;
    gap: 10px;
}

.p-5 {
    padding: 3rem 3rem 1rem 3rem !important;
}

h2.fav-title {
    margin-bottom: 20px;
}

label.notes {
    display:block;
    margin: 10px 0px 10px 100px;
    font-size: larger;
    font-weight: 500;
}

.save-btn {
    margin-right: 100px;
    margin-bottom: 20px;
}

.profile-btn {
    margin-top: 10px;
}

.book-dropdown {
    position: absolute;
    border: 1px solid grey;
    background-color: #d68153;
    border-color: #d68153;
    border-radius: 3px;
    width: 125px;
}

    .book-dropdown button {
        width: 100%;
        background-color: #d68153;
        border-color: #d68153;
        border-radius: 0px;
        margin: 0px;
        padding: 5px;
    }

div .drop-down-btn-container {
    border-radius: 5px;
}

.table {
    --bs-table-striped-bg: #ddb159 !important;
}
.table-striped > tbody > tr:nth-of-type(odd), .table-striped > tbody > tr:nth-of-type(even), .table-striped > thead > tr {
    border-color: #9d86b7;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.table-striped > thead > tr {
    border-top-width: 0px;
}

a:hover, Link:hover {
    cursor: pointer;
}

.left-align-btns {
    flex-grow: 1;
}

.bullet-style {
    list-style-image: url('/closed_book.png');
}

.sidebar-link {
    text-decoration: none;
    color: black;
}

    .sidebar-link:hover {
        color: #705d86;
    }
    .sidebar-link:active {
        color: #9d86b7;
    }

#firstNameNote {
    background-color: #f5f092;
    border-radius: 5px;
    margin-top: 5px;
}

#lastNameNote {
    background-color: #f5f092;
    border-radius: 5px;
    margin-top: 5px;
}

#emailNote {
    background-color: #f5f092;
    border-radius: 5px;
    margin-top: 5px;
}
#pwdNote {
    background-color: #f5f092;
    border-radius: 5px;
    margin-top: 5px;
}

#confirmNote {
    background-color: #f5f092;
    border-radius: 5px;
    margin-top: 5px;
}

.valid {
    display: inline-block; /* Display the icon */
    color: green; /* Color for valid state */
    margin-left: 5px;
}

.invalid {
    display: inline-block; /* Display the icon */
    color: red; /* Color for invalid state */
    margin-left: 5px;
}

.hide {
    display: none; /* Hide the icon */
}

.offscreen {
    display: none;
}

.pink-bg {
    background-color: #E7958D;
}

.dark-pink-bg {
    background-color: #C15f33;
}

.yellow-bg {
    background-color: #f5f092;
}

.dark-yellow-bg {
    background-color: #ddb159;
}

.green-bg {
    background-color: #84b09f;
}

.dark-green-bg {
    background-color: #778262;
}

.orange-bg {
    background-color: #d68153;
}

.dark-orange-bg {
    background-color: #c15f33;
}

.btn.btn-warning {
    background-color: #d68153;
    border-color: #d68153;
}

button.btn.btn-warning:hover, button.btn.btn-warning:active {
    background-color: #c15f33;
    border-color: #c15f33;
} 

.teal-bg {
    background-color: #385354;
}

.dark-teal-bg {
    background-color: #323d34;
}

.btn.btn-danger {
    background-color: #385354;
    border-color: #385354;
}

button.btn.btn-danger:hover, button.btn.btn-danger:active {
    background-color: #323d34;
    border-color: #323d34;
}

.light-purple-bg {
    background-color: #d1c2e2;
}

.purple-bg {
    background-color: #9d86b7;
}

.dark-purple-bg {
    background-color: #705d86;
}

.grey-background {
    background-color: #cecece;
}

.description-bg {
    background: #ddb159;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
    border: solid;
    border-color: #84b09f;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    padding: 20px;
}

.page-wrapper {
    display:flex;
    height: calc(100vh - 81px);
    justify-content: flex-end;
}

.outlet-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: #f5f092;
}

.outlet-content {
    min-height: 100%;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
}

.btn.btn-primary {
    background-color: #84b09f;
    border-color: #84b09f;
}

    .btn.btn-primary:hover, button.btn.btn-primary:active {
        background-color: #778262;
        border-color: #778262;
    }

.btn.btn-primary:disabled {
    background-color: #84b09f;
    border-color: #84b09f;
}

.btn.btn-success {
    background-color: #9d86b7;
    border-color: #9d86b7;
}

button.btn.btn-success:hover, button.btn.btn-success:active {
    background-color: #705d86;
    border-color: #705d86;
}

.custom-input {
    background-image: url('/search.png');
    background-size:  initial;
    background-repeat: no-repeat;
    background-position:right center;
    vertical-align: middle;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

.view-book-main {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-header {
    display: flex;
    justify-content: space-between;
}


.wide-container {
    width: 80%;
}

.form_container {
    width: 30%;
}

.form-container-forms {
    width: 50%;
}

.review-container-forms {
    width: 40%
}

a.linkColor {
    color: seagreen;
}

a.linkColor:visited {
    color: seagreen;
}

p.format-margin {
    margin: 0px 10px 0px 0px;
    align-items:center;
}

.audio-length-container {
    display: flex;
    gap: 5px;
    margin: 5px 0px 10px 0px;
    align-items: center;
}

.radio-button-container {
    display: flex;
    gap:2px;
    margin: 20px 0px 20px 0px;
    align-items: center;
}

label.audio-title {
    margin-top: 10px;
}

.radio-button-container label {
    margin-right: 10px;
}
html,body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f5f092;
    overflow-y: auto;
}


.footer {
    justify-self: flex-end;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.bookshelf-main {
    height: calc(100% - 109px);
    overflow-y: auto;
}


main {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 45%
    }
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%
    }
}